body {
    margin: 0;
    background-color: silver;
  }

.container {
    margin-top: 3em;
  }  

.linha{
    border-style: solid;
    border-color: red;
    border-width: 1px;
}
.coluna{
    border-style: solid;
    border-color: rgb(49, 13, 13);
    border-width: 1px;
}
.teste:hover {
    text-decoration: underline;
}